<%= turbo_frame_tag "room_messages" do %>
  <h2><%= @room.name %></h2>
  
  <div id="messages">
    <%= render @room.messages %>
  </div>

  <%= render "messages/form", message: @message, room: @room %>
<% end %>